* {
    font-family: 'Roboto Slab', serif;
}

.page {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.button {
    display: inline-block;
    padding: 20px 30px;
    background: lightseagreen;
    cursor: pointer;
}